.bg-transparent{
  background:transparent !important;
}

/* .bg-image{
  opacity:1;
  display:static !important;
  visibility:visible;
} */
html {

  scrollbar-width: none;
} 
@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}
::-webkit-scrollbar {
  display: none;
}

.slider-nav {
  list-style-type: none;
  right:0;
  bottom:0;
 position:absolute;

}
.slider-nav li span{
  width:50px;
  height:50px;
  border-radius:50%;
  background:#fff;

}


.loading-wrapper{
  width:100vw;
  height:100vh;
  z-index:999;
  position:fixed;
  background:#350ad3;
  display:flex;
}
.loading-text{
  font-family: 'Lexend-Giga', sans-serif;
  font-size:20px;
  letter-spacing:.2em;
}
.model-sample{
  background-position: center;
  background-repeat:no-repeat;
  width:100vw;
  height:100vh;
  z-index:-1;
  position:fixed;
}

.page-label{
  position:absolute;
  /* bottom:0; */
  left:0;

  width:400px;
  text-align:left;
  margin-bottom:30px;
  top:80%;
 
}
.page-label-underline-2{
  width:400px;
  display:block;
  position:absolute;
  bottom:0; left:0;
  border-bottom:5px solid #fff;
}
.page-label-underline{
  width:400px;
  display:block;
  position:absolute;
  bottom:0; left:0;
  border-bottom:5px solid #494949;
}
.border-white{
  border-color:#fff !important;
}

.page-label-title{
  font-family: 'BenchNine', sans-serif;
  font-size:60px;
  letter-spacing:.2em;
}
@media(max-width:425px){
  .page-label-title{
    font-size:18px;
  }
  .page-label,.page-label-underline-2,.page-label-underline-2{
    width:100px;
    border-bottom: 3px solid #fff;
  }
}
.page-label::before{
  
}
body {
  position:relative;
	overflow-x:hidden !important;
  overflow-y:auto;  
  color: #000;
  /* overflow-y: -moz-hidden-unscrollable; */
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  background-color: #feffe3;
  transition: background-color 1s ease;
  text-align: center;
  line-height: 1.618;
}

/* panel styles */
.section-colors {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  /* display: flex; */
  width:100%;
  z-index:6;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}
section{
  height:100vh;
  scroll-snap-align: start;
  padding: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 800;
  font-size: 120%;
  font-weight: 800;
  position: relative;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
/* colours */
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}
.color-white{
  background-color:#feffe3;
}
.color-projects{
  background-color:#6BF3AA; 
}
.color-clients{
  background-color: #FFA06A;
}

.color-team{
  background-color:#2F2F2F;
}

.color-contact{
  background-color:#487097;
}
/* styling for demo, can ignore */

h1, h2 {
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1.1;
}
p {
  max-width: 30em;
  margin-bottom: 1.618em;
}
a {
  color: #4332CF;
}


.title-font{
  color:#fff;
  letter-spacing:.3em;
  text-shadow: 10px 10px #2F8FED;
  font-size:6em;  
  z-index:3;
  font-weight:bold;
  text-transform:uppercase; 
  text-align:center;
  top:0;
  font-family: 'Raleway', sans-serif;
}
.main-paragraph{
  /* text-shadow: 3px 3px #2F8FED; */
  text-align:center;
  font-weight:bold;
  color:#369BD7;
  font-family: 'Raleway', sans-serif;
  letter-spacing:.4em;
}

.main-title{
  margin-top:20%;
  font-size:51px !important;
  text-shadow: 5px 5px #2F8FED !important;
}
@media(max-width:425px){
  .title-size{
    font-size:30px;
  }
}
.title-size{
  margin-top:20%;
 
  text-shadow: 5px 5px #2F8FED !important;
}
.text-shadow{
  text-shadow: 5px 5px #2F8FED !important;
}
.second-title-font{
  color:#fff !important;
  text-shadow:rgb(255 81 81) 10px 10px !important;
}


.third-title-font{
  color:#fff !important;
  text-shadow: rgb(255 81 81) 10px 10px !important;
} 

@media(max-width:425px){
  .main-title{
    margin-top:50%;
    font-size:3em !important;
  }
  .title-size{
    margin-top:50%;
   
    text-shadow: 5px 5px #2F8FED !important;
  }
}

.border-gradient-glass {
  border-image-source: linear-gradient(to left, #3b9efa, #fcfcfc);
}
.glass-btn{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
}

/* projects */

.projects{
  height:calc(100vh- 100px);
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  top:0;
  margin-right:40px;
  display:flex;
  margin-top:-200px;
  padding:4px; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  overflow:hidden;
  flex-direction: column;
  text-align:right;
}

.project-link-mobile{
  margin-top:1px;
  color:transparent;
  opacity:.7;
  text-shadow: 0 0 8px rgb(189, 189, 189);
  font-family: 'Lexend Giga', sans-serif;
  cursor:pointer;
  color:#717171;
  letter-spacing:.3em;
  font-size:25px;
}

.project-link{
  margin-top:1px;
  color:transparent;
  opacity:.7;
  text-shadow: 0 0 8px rgb(189, 189, 189);
  margin-bottom:40px;
  cursor:pointer;
  color:#717171;
  letter-spacing:.3em;
  font-size:25px;
  transition:500ms ease-in-out;
  text-align:right;
  font-family: 'Lexend Giga', sans-serif;
}
@media(max-width:425px){
  .project-link{
    font-size:14px;

  }
}

.project-item{
  width:400px;
  height:auto;
}

.project-image{
  width:500px;
  z-index:9999; top:9 0;left:80px; position:fixed;
}

.bg-image{
  width:350px;
  opacity:1;

}


.pc-slider-wrapper{
  display:block;
}

.mobile-slider-wrapper{
  display:none;
  height:50vh;
  margin-top:20%;
}
@media(max-width:425px){
  .mobile-slider-wrapper{
    display:block;
    height:50vh;
  }
}
@media(max-width:425px){
  .mobile-slider-wrapper{
    display:block;
    height:50vh;
  }
  .pc-slider-wrapper{
    display:none;
  }
  
}
.project-pos{
  top:0;
}
.bg-image-mobile{
  width:300px;
}
.project-image-mobile{
  /* left:40px; */
   top:90;
    z-index:9999;
  width:270px; 
   position:fixed;
}
.project{
  width:400px;
}
@media(max-width:425px){
  .project-image{
    width:270px;
     top:90;left:-30px;
     position:fixed;
  }
  .bg-image-mobile{
    width:250px;
  }
  .project-image-mobile{
    /* left:-px; */
    z-index:9999;
     top:90;
     width:270px;
     position:fixed;
  }
  .project{
    width:400px;
  }
  .project-pos{
    top:70px;
  } 
  .bg-image{
    width:100%;
    
  }
  
}
.project-link:hover{
  text-decoration: none;
  cursor:pointer;

  text-align:right;
  font-family: 'Lexend Giga', sans-serif;
}

.project-link:active,.project-link-active{
  color:#009E52;
  /* font-size:60px; */
}




.team {
 
  width: calc(3690px + (50vw - 292.5px));
  height: 305px;
  margin-top:50%;
  top: 30%;
  overflow-x:scroll;
  margin-top: -155px;

  left: calc(50vw - 122.5px);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.team-member{
  position: relative;
  height: 100%;
  width: 410px;
  float: left;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.team-slider-mobile-wrapper{
  display:none;
}
.team-slider-pc{
  display:block;

}
@media(max-width:425px){
  .team-slider-mobile-wrapper{
    display:block;
  }
  .team-slider-pc{
    display:none;
  
  }
}
.people-info{
 
}
#people-data{
  position: absolute;
  text-align: left;
  color: #fff;
  /* transform: translateX(-900px) ; */
  animation: come-in 500ms ease forwards ;
  left:5%; 
  top:40%;
  transform:translateX(-5000px);
  color:#fff;
	/* background-color: #bca; */
}
.team-instruction{
 
  background:#000;
  padding:5px 8px 5px 8px;
  color:#fff;
 bottom:0;
 margin-top:200px;
  position:absolute;
  text-align:center;
  font-size:15px;
  font-family: 'Lexend Giga', sans-serif;
  font-weight:bold;
}
.people-name{
  font-family: 'Lexend Giga', sans-serif;
  letter-spacing:.1em;
  font-weight:400;
  font-size:22px;
  transform:translateX(-300px);
}
.people-role{
  letter-spacing:.1em;
  font-weight:bold;
  font-size:26px;
  font-family: 'Lexend Giga', sans-serif;
  transform:translateX(-300px);
}
.info-come-in{
	transition:1s ease-in-out;
	transform:translateX(0) !important;
}

/*cursor*/
/* 
body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
body .cursor__ball circle {
  fill: #f7f8fa;
} */






#scroll-container {
  overflow: hidden;
  max-width: 100%;
  /* margin-top:30%;; */
  display:flex;
  margin: auto;

  top: 0;
  position: relative;
  min-height: 80vh;
}

.wrap-container {
  position: relative;
  max-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: auto;
  /* background: #eee; */
  overflow: auto;
  /* padding-right: 100px; */
  mask: url(#masking);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, black), color-stop(1, transparent));
}
.wrap-container-end{
  mask: url(#masking);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, black), color-stop(1, transparent));
}
.wrap-container ul {
  list-style: none;
  position: relative;
  transition: transform .3s;
  /* top: 50px; */
}

.wrap-container ul, .wrap-container ul li {
  margin: 0;
  padding: 0;

  text-align: right;
}

.wrap-container ul li {
  height: 50px;
  line-height: 50px;
  text-align:right;
  transition: transform .3s;
  overflow: hidden;
}

.wrap-container ul li:last-of-type { padding-bottom: 50px; }

.wrap-container ul li.active .item {text-align:left;color:#009E52; transform: scale(1.4); }

.wrap-container ul li .item {
  position: relative;
  padding-right:50px;
  transition: transform 200ms;
  display: inline-block;
}

#hoverscroll {
  width:100%;
  height:40px;
  background-color:gray;
  position:fixed;
  padding-left:50px;
  opacity:0.5;
  bottom:0;
 }
 

 .project-thumb-container {
  width: 305px;
  height: 305px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -152.5px;
  margin-top: -152.5px;
}

.project-thumb-bg {
  position: relative;
  width: 405px;
  height: 405px;
  border-radius: 50%;
  background-color: #000000;
  overflow: hidden;
  -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* border: 1.5px solid #ff5660; */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
}


.project-thumb-bg-inner.thumb-pusher {
  background-image: url(../img/bg.jpg);
  background-size: auto 100%;
  background-position: center center;
  -webkit-transform: scale3d(2.2, 2.2, 2.2);
  transform: scale3d(2.2, 2.2, 2.2);
}


.project-thumb-bg-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.project-thumb-container canvas, .project-thumb-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -302.5px;
  margin-top: -202.5px;
  /* width: 405px !important; */
  height: 405px !important;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

nav#dot-nav {
  position: fixed;
  right: 40px;
}
nav#dot-nav a {
  border: 1px solid #121212;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  margin: 10px;
}
nav#dot-nav a.active {
  background: #121212;
}


/* map */

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none !important;
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  mix-blend-mode: darken;
  width: 100%;
}


#map canvas{
cursor:default;


}
.marker {
  background-image: url(../img/map-marker-2.svg);
  background-size: cover;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  cursor: pointer;
  transition: 300ms  ease-out !important;
  
  /* transform:translate(-50%, -50%) translate(652px, 208px) rotateX(0deg) rotateZ(0deg) !important ; */

}

.marker:hover {
  background-image: url(../img/map-marker-2-hover.svg);
  background-size: cover;

  transition: 200ms  ease-in;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
}
.contact-us{
  width:
}
.contact-us-info .contact-title{
  font-family: 'Lexend Giga', sans-serif;
  font-weight:bold;
  font-size:27px;
  /* z-index:888 !important; */
  align-items: center;
  /* border: 1px solid #FFFFFF; */
}

.social-link-icon{
 
  font-size:35px;
}


/*scroll animation*/
.come-in {
  transform: translateX(-500px);
  animation: come-in 1s ease forwards;
}
.come-in-underline{
  transform: translateX(-900px);
  animation: come-in 500ms ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateX(0); }
}


@keyframes textin{
  
  0% {
    opacity:0;
    transform:translateY(-50px);
  }
100%{
  opacity:1;
  transform:translateY(0);
}
}
@keyframes textout{
  
  0% {
    opacity:1;
    transform:translateY(0);
  }
100%{
  opacity:0;
  transform:translateY(-50px);
}
}
.text-anim-out{
  animation:textout 900ms ease-in-out;
}


.detail-anim-out{
  animation:textout 850ms ease-in-out; 
  /* transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.detail-anim-out-2{
  animation:textout 750ms ease-in-out; 
  /* transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.detail-anim-out-3{
  animation:textout 650ms ease-in-out; 
  /* transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.text-anim{
  animation:textin 800ms ease-in-out; 
  /* transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.detail-anim{
  animation:textin 950ms ease-in-out; 
  /* transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.detail-anim-2{
  animation:textin 1050ms ease-in-out; 
  /* transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.detail-anim-3{
  animation:textin 1150ms ease-in-out; 
  /* transition:500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}



/*Modal open */


/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #34383c;
  overscroll-behavior-x: none;
  /* position:fixed; */
  background-color: #ffffff;
}
body.overflow-hidden {
  /* used when modal is visible */
  overflow: hidden;
}
body.popup:target{

  overflow-y:hidden;
}
body.modal
a {
  color: #03bb91;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
header {
  position: relative;
  height: 160px;
  line-height: 160px;
}
header h1 {
  font-size: 2.4rem;
  text-align: center;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 240px;
    line-height: 240px;
  }
  header h1 {
    font-size: 3.2rem;
    font-weight: 300;
  }
}

.cd-section {
  /* padding: 2em 5%; */
  z-index:999;
  /* text-align: center;
  background-color: #03bb91; */
}
.cd-section p {
  /* margin: 2em 0;
  line-height: 1.6;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
@media only screen and (min-width: 768px) {
  /* .cd-section {
    padding: 4em 10%;
  }
  .cd-section p {
    font-size: 1.8rem;
    line-height: 2;
  } */
}
@media only screen and (min-width: 1170px) {
  /* .cd-section {
    padding: 4em 20%;
  } */
}

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
   background:url(../img/bg.jpg);
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
}
.cd-modal::after {
  /* gradient overlay at bottom of modal window */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
  background: transparent;
  background: -webkit-linear-gradient( bottom , #34383c, rgba(52, 56, 60, 0));
  background: linear-gradient(to top, #34383c, rgba(52, 56, 60, 0));
}
.cd-modal .cd-modal-content {
  height: 100%;
  width: 100%;
  padding: 3em 5%;
  text-align: left;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal p {
  color: #ffffff;
  line-height: 1.6;
  margin: 2em 0;
}
.test-modal-is-visible .cd-modal {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
  -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
}
.test-modal-is-visible .cd-modal .cd-modal-content {
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-modal .cd-modal-content {
    padding: 4em 10%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-modal .cd-modal-content {
    padding: 6em 20%;
  }
  .cd-modal p {
    font-size: 2rem;
    line-height: 2;
  }
}

.cd-modal-action {
  position: relative;
}
.cd-modal-action .btn{
  width: 405px;
  height: 405px;
  border-radius: 50%;
  background-color: #000000;
  overflow: hidden;
  -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* border: 1.5px solid #ff5660; */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
} .cd-modal-action .cd-modal-bg {
  display: inline-block;
  height: 100%;
  width:100%;
  z-index:9999;
  background-image: url(../img/bg.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  
  /* background:#fff; */
  /* background-color: #34383c; */
}
.cd-modal-action .btn {
  width: 12.5em;
  border-radius: 5em;
  color: #ffffff;
  line-height: 4em;
  white-space: nowrap;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
  -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
  transition: color 0.2s 0.3s, width 0.3s 0s;
}
.cd-modal-action .btn.to-circle {
  width: 4em;
  color: transparent;
  -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
  -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
  transition: color 0.2s 0s, width 0.3s 0.2s;
}
.cd-modal-action .cd-modal-bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.cd-modal-action .cd-modal-bg.is-visible {
  opacity: 1;
  visibility: visible;
}

.cd-modal-close {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.test-modal-is-visible .cd-modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-modal-close {
    top: 70px;
  }
}







.test-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #22cc99;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(calc(50% - 3em ) calc(50% - 1.5em ), calc(50% + 3em ) calc(50% - 1.5em ), calc(50% + 3em ) calc(50% + 1.5em ), calc(50% - 3em ) calc( 50% + 1.5em ));
          clip-path: polygon(calc(50% - 3em ) calc(50% - 1.5em ), calc(50% + 3em ) calc(50% - 1.5em ), calc(50% + 3em ) calc(50% + 1.5em ), calc(50% - 3em ) calc( 50% + 1.5em ));
  transition: -webkit-clip-path 0.4s cubic-bezier(0, 0.58, 0.36, 1);
  transition: clip-path 0.4s cubic-bezier(0, 0.58, 0.36, 1);
  transition: clip-path 0.4s cubic-bezier(0, 0.58, 0.36, 1), -webkit-clip-path 0.4s cubic-bezier(0, 0.58, 0.36, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-modal__content {
  opacity: 0;
  transform: translate3D(0, -1em, 0);
  transition: opacity 0.1s 0s, transform 0.3s 0s;
  padding: 2em;
  max-width: 30em;
  color: #fff;
}

button {
  
  
  background: transparent;
  border: none;
  padding: 1em;
  color: #fff;
  z-index: 1;
  transition: opacity 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.circle-in{
  animation: circle 800ms;
}
.circle-out{
  animation: circleout 800ms;
}
 .slick-center a{
   color:rgb(0, 52, 73) !important;
   opacity:1 !important;
  font-size:40px ;
}
@media(max-width:425px){
  .slick-center a{
    color:rgb(0, 52, 73) !important;
    opacity:1 !important;
   font-size:20px;
 }
 .slick-slide{
   width:100%;
   position: relative;
    left: 0px;
    top: 70px;
    z-index: 999;
    opacity: 1;
 }
 .slick-slide .slick-current .slick-active{
  position: relative;
  left: 0px;
  top: 70px;
  z-index: 999;
  opacity: 1;
 }
 .slick-list .draggable{
   height:50vh;
 }
}
.slick-track{
  height:50vh;
}
.box,.clipped-box {
  /* animation: circle 3s infinite; */
  /* background: orange;
  background: url(../img/bg.jpg);
  clip-path: circle(20%);
  height:1000vh;
  width: 1000vw; */
}
/*  */

.clipped-box{
  left:0;
  bottom:0;
  z-index:99999;
  margin-top:20%;
  /* background-image: url(../img/bg.jpg); */
  clip-path: circle(10% at 100px 300px);
  height:100vh;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  position:absolute;
  width: 100vw;
}
.carousel-holder{
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.project-title{
font-family: 'Lexend Giga',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 50.1988px;
line-height: 28px;
top:40;
color: #FFFFFF;
}

@media(max-width:425px){
  .project-title{
    font-size:22px;
    font-weight:bold;

  }
}
.project-paragraph{
  font-family: 'Lexend Giga',sans-serif;
  font-style: normal;
  visibility:hidden;
  font-weight: normal;
  font-size: 40.19px !important;
  line-height: 28px;
   letter-spacing:.1em;
  top:50;
  color: #FFFFFF;
  transition: 0.64s ease-in-out;
  }
  .project-paragraph:target, .project-title:target{
    opacity:1;
    visibility:visible;
  }
.custom-modal-bg,.custom-modal-bg-2,.custom-modal-bg-3{
  /* overflow:hidden; */
  position:absolute;

  overflow:hidden !important;
  padding:20px; 
  z-index:999;
  /* margin-left:-20px; */
  /* background-image: url(../img/bg.jpg); */
   background-position:center;
   background-size:cover;
  width:100vw;
  transform:scale(1.1);
  height:100vh;
  overflow:hidden;
  
  z-index:99;
  transform:circle(50%);
}
.project-modal-bg{
  overflow:hidden !important;
  width:100vw;
  z-index:99;
  height:100vh;
  position:relative;
  display:flex;
  background:url(../img/bg.jpg);
  background-size: auto 100%;
  background-position:center center;
  transform: scale3d(1.1, 1.1, 1.1);  
}
.project-page{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes circle {
  0% { clip-path: circle(10% at 120px 60px); }
  /* 25% { clip-path: circle(25% at 250px 300px); }
  50% { clip-path: circle(50% at 250px 300px); }
  75% {clip-path:circle(75% at 250px 300px);} */
  100% { clip-path: circle(100% at  120px 60px); }
}
@keyframes circleout {
  0% { clip-path: circle(100% at 100px 60px); }
  /* 25% { clip-path: circle(25% at 250px 300px); }
  50% { clip-path: circle(50% at 250px 300px); }
  75% {clip-path:circle(75% at 250px 300px);} */
  100% { clip-path: circle(10% at  80px 60px); }
}
button:active {
  outline: none;
  opacity: 0;
}
button:active ~ .test-modal {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
button:active ~ .test-modal .test-modal__content {
  opacity: 1;
  transform: translate3D(0, 1em, 0);
  transition: opacity 0.3s 0.2s, transform 0.6s 0.2s cubic-bezier(0, 0.65, 0.06, 0.98);
}


.project-layout{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-layout .project-scroller{
  position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.visible-none{
visibility: hidden;
}


/* popup test */

.popup-thumbnail {

}
.popup-show{
  display:block;
}
.popup-hid{
  display:none;
}
.project-clip {
  clip-path: polygon(0% 0%, 50.6602% 0%, 50.6602% 71.4009%, 0% 71.4009%);
}
.popup{
  /* display:none; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
 background:url(../img/background-2.png);
 background-position:center center;
 background-size:cover;
  z-index: 99;
  visibility: hidden;
  opacity: 1;
  clip-path:circle(11% at  320px 320px);
  overflow: hidden;
  /* animation:circle 400ms; */
  transition:1s ease-in-out;
}
.popup-mobile{
  /* display:none; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
 /* background:url(../img/background-2.png); */
 background-position:center center !important;
 background-size:cover !important;
  z-index: 99;
  visibility: hidden;
  opacity: 1;
  clip-path:circle(11% at  center 300px);
  overflow: hidden;
  /* animation:circle 400ms; */
  transition:1s ease-in-out;
}
.popup-thumb-bg{
  width:244px;
  height:244px;
  border-radius: 50%;
  transform: matrix3d(3.71561, 0, 0, 0, 0, 3.71561, 0, 0, 0, 0, 3.71561, 0, 0, 0, 0, 1);
  background-color:#34383c;
}
.thumb-pusher {
  background-image: url('img/background-2.png');
  background-size: auto 100%;
  background-position: center center;
  -webkit-transform: scale3d(2.2, 2.2, 2.2);
  transform: scale3d(2.2, 2.2, 2.2);
}
.popup-mobile-bg{

  background:url(../img/background-2.png);
  background-position:center center !important;
  clip-path:circle(11% at  center 300px);
}

@media(max-width:425px){
  .popup{
    clip-path:circle(1% at  50px 420px);
  }
}
.popup-in {
  /* animation:circle 1.5s; */
  /* left:300px;
  top:300px; */
  visibility: visible;
  opacity: 1;
  transition:1s ease-in-out;
  clip-path: circle( 110% at 320px 320px);
}

.popup-in-mobile {
  /* animation:circle 1.5s; */
  /* left:300px;
  top:300px; */
  visibility: visible;
  opacity: 1;
  transition:700ms ease-in-out;
  clip-path: circle( 110% at center 300px);
}
.popup-out-mobile{
  /* animation:circleout 1.5s; */
  visibility:visible;
  opacity:0;
  transition:1000ms ease-in-out;
  clip-path:circle(11% at  center 300px);
}
.popup-out{
  /* animation:circleout 1.5s; */
  visibility:visible;
  opacity:0;
  transition:1s ease-in-out;
  clip-path:circle(11% at  320px 320px);
}
@media(max-width:425px){
  .popup-in {
  
    clip-path: circle( 110% at 50px 420px);
  }
  .popup-out{
    /* animation:circleout 1.5s; */
   
    clip-path:circle(5% at  50px 420px);
  }
}
.popup-inner {
  position: relative;
  /* bottom: -100vw;
  right: -100vh; */
  transform:scale(0);
  /* animation: circle 1s; */
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  
  width: 60%;
  height: 80%;
  background-color: #fff;
 
  transition: 10s ease-in-out;
}
.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popup__photo img {
  width: auto;
  height: 100%;
}
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popup__text p {
  font-size: 0.875rem;
  color: #686868;
  line-height: 1.5;
}

/* .popup:target .popup-inner {
  bottom: 0;
  right: 0;
  clip-path: circle( 100% at 100px 100px);
  transform: scale(1);
} */
.popup__close {
  position: absolute;
  right:0;
  top: 0;
  margin-top:20px;
  margin-bottom:20px;
  margin-right:90px;
  width:41px;
  height:41px;
  padding:4px 4px 0px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #fff;
  color:#000 !important;;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media(max-width:425px){
  .popup__close{
    top:0;
    margin-right:20px;
  }
}
/* .slick-list .draggable{
  top:100px;
  left:50px;
} */
.show-image{
  opacity:1;
  transition:1.5s ease-in-out;

}
.hide-image{
  opacity:0;
  transition:500ms ease-in-out;
}
.hide {
  display: none !important;
  opacity:0 !important;
}
.test-link:hover + a .hide {
  display: block !important;
  /* color: red; */
}




.product-item {
  top:-100px;
  clip-path: circle(15% at center);
  transition: clip-path 500ms;
}

.product-item:hover {
  clip-path: circle(100% at center);
}


.popup-col,.project-col{
  width:50%;
}
.detail-col{
  margin-top:150px;
}
@media(max-width:425px){
.popup-col{
  width:100%;
}
.detail-col{
  margin-top:20%;
}
}



@keyframes ldio-q85mp3ggtcc {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-q85mp3ggtcc div {
  position: absolute;
  animation: ldio-q85mp3ggtcc 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #0a0a0a;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-p2mbm1i6a9e {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-q85mp3ggtcc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-q85mp3ggtcc div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url('../images/default.gif');
  background-repeat: no-repeat; 
  background-color: #FFF;
  background-position: center;
}

/* preloader */

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  border: 0px;
  height: 4px;
  overflow: hidden;
  background:transparent;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: rgb(243, 243, 243);
}

.pace.pace-inactive {
  display: none;
}

  #preloader{

    overflow:hidden;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
